In [1]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.9.0-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.2.1-cp311-cp311-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.51.0-cp311-cp311-win_amd64.whl.metadata (162 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.5-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-10.3.0-cp311-cp311-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\oscar\onedrive\escritorio\python\pycharm\proyectofinal\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.9.0-cp311-cp311-win_amd64.whl (8.0 MB)
Using cached contourpy-1.2.1-cp311-cp311-win_amd64.whl (188 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.51.0-cp311-cp311-win_amd64.whl (2.2 MB)
Using cached kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
Using cached pillow-10.3.0-cp311-cp311-win_amd64.whl (2.5 MB)
Using cached pyparsing-3.1.2-py3-none-any.whl (103 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2
Note: you may need to restart the kernel to use updated packages.

## Introducción
#### En el presente trabajo...

### Carga de datos
#### Se procede a cargar los datos del PIB y del IPC extraidos del Banco Mundial, estos datos están contenidos en archivos CSV por lo que se usa la librería de Pandas para leerlos.

In [3]:
import pandas as pd
DatosPib = pd.read_csv("data/crec_PIB.csv", engine='python' ,quotechar='"' )
DatosPib

,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023""",Unnamed: 68,Unnamed: 69
0,"""Aruba""","""ABW""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""1.7196241156332""","""7.04853325902029""","""2.38173012558298""","""-2.30283684401374""","""-23.982580345495""","""27.6393569688502""","""10.45831735343""","""""",NaN,NaN
1,"""""","""AFE""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""0.254875994717835""","""7.96582664848981""","""5.14820559789459""","""4.57931687809815""","""5.34621113726632""",...,"""2.21901460787033""","""2.57194147972019""","""2.49135469614066""","""2.04061696561413""","""-2.79903807509672""","""4.3004408275946""","""3.43513777026112""","""""",NaN,NaN
2,"""Afganistán""","""AFG""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""2.26031420130457""","""2.6470032019574""","""1.18922812838036""","""3.91160341942292""","""-2.3511006734461""","""-20.7388393676343""","""""","""""",NaN,NaN
3,"""""","""AFW""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""1.85772680600107""","""3.77294263433399""","""7.27724630849447""","""5.41294974376083""","""4.08474929980846""",...,"""0.142091829327867""","""2.28626953562923""","""2.83882880242301""","""3.20091866684984""","""-0.938161714877765""","""3.97631746525985""","""3.76635389250266""","""""",NaN,NaN
4,"""Angola""","""AGO""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-2.5801112218828""","""-0.147149825449205""","""-1.31636168896895""","""-0.702272957616017""","""-5.63821471714934""","""1.19921052145153""","""3.04540300954928""","""""",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,"""Kosovo""","""XKX""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""5.5717745349217""","""4.82565635604956""","""3.40663099060228""","""4.75680062210702""","""-5.34027515202294""","""10.7456567508925""","""5.21860421280809""","""""",NaN,NaN
262,"""Yemen","Rep. del""","""YEM""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""""","""""","""""","""""",...,"""-27.9945462536875""","""-9.37512381761694""","""-5.07179563883867""","""0.752447587579127""","""""","""""","""""","""""","""""",NaN
263,"""Sudáfrica""","""ZAF""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""3.84473414174089""","""6.17793085042746""","""7.37370924877223""","""7.93960864480677""","""6.12279809601442""",...,"""0.664552307858116""","""1.15794695147646""","""1.5567838465238""","""0.25993557707082""","""-5.96335818283997""","""4.70306206389499""","""1.91040616938092""","""""",NaN,NaN
264,"""Zambia""","""ZMB""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""1.36138199147489""","""-2.49083947454871""","""3.27239289272524""","""12.2140480179323""","""16.6474559632126""",...,"""3.77667914626731""","""3.50433609558682""","""4.03449389667165""","""1.44130602603785""","""-2.78505506545167""","""6.23492204190059""","""5.24962229816639""","""""",NaN,NaN
265,"""Zimbabwe""","""ZWE""","""Crecimiento del PIB (% anual)""","""NY.GDP.MKTP.KD.ZG""","""""","""6.31615726782277""","""1.43447088780628""","""6.24434450790498""","""-1.10617185944358""","""4.91057058723419""",...,"""0.900955396308504""","""4.08026390333053""","""5.00986678330221""","""-6.33244642559313""","""-7.81695061846828""","""8.46801690894254""","""6.52237528740794""","""""",NaN,NaN

In [4]:
DatosIPC = pd.read_csv("data/IPC-BM.csv", engine='python' ,quotechar='"')
DatosIPC

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751,NaN,NaN
2,Afganistán,AFG,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN,NaN
3,NaN,AFW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574,NaN,NaN
4,Angola,AGO,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,NaN,NaN
262,"Yemen, Rep. del",YEM,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,NaN,NaN
264,Zambia,ZMB,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,NaN,NaN
265,Zimbabwe,ZWE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN,NaN

### Proceso de limpieza de datos
#### Se evidencia que los datos del PIB están entre comillas, mientras que los datos del IPC no las tienen,  por lo que se procede a crear una función para eliminarlas del dataset del PIB con eso se estandarizan los datos.

In [5]:
#Codigo para eliminar las comillas de los datos del PIB
def remove_quotes(x):
    if isinstance(x, str):
        return x.strip('"')
    else:
        return x

In [6]:
#Le aplico la función creada anteriormente para remover las comillas
DatosPib = DatosPib.map(remove_quotes)

#### Convierto los datos vacios de las columnas de los años a NAN para poder transformarlos a Float, ya que el PIB y el IPC se expresan en porcentaje.

In [7]:
#Convierto los datos vacios de las columnas de los años a NAN para luego poder transformarlos a float, en el dataset del PIB
cols_to_convert = ['"1960"', '"1961"', '"1962"', '"1963"', '"1964"',
       '"1965"', '"1966"', '"1967"', '"1968"', '"1969"', '"1970"', '"1971"',
       '"1972"', '"1973"', '"1974"', '"1975"', '"1976"', '"1977"', '"1978"',
       '"1979"', '"1980"', '"1981"', '"1982"', '"1983"', '"1984"', '"1985"',
       '"1986"', '"1987"', '"1988"', '"1989"', '"1990"', '"1991"', '"1992"',
       '"1993"', '"1994"', '"1995"', '"1996"', '"1997"', '"1998"', '"1999"',
       '"2000"', '"2001"', '"2002"', '"2003"', '"2004"', '"2005"', '"2006"',
       '"2007"', '"2008"', '"2009"', '"2010"', '"2011"', '"2012"', '"2013"',
       '"2014"', '"2015"', '"2016"', '"2017"', '"2018"', '"2019"', '"2020"',
       '"2021"', '"2022"', '"2023"']
DatosPib[cols_to_convert] = DatosPib[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [8]:
#Convierto las columnas del dataset del PIB a float y verifico que el cambio se realizó.
DatosPib[cols_to_convert] = DatosPib[cols_to_convert].astype(float)
DatosPib.dtypes

"Country Name"       object
"Country Code"       object
"Indicator Name"     object
"Indicator Code"     object
"1960"              float64
                     ...
"2021"              float64
"2022"              float64
"2023"              float64
Unnamed: 68          object
Unnamed: 69         float64
Length: 70, dtype: object

In [9]:
#Convierto los datos vacios de las columnas de los años a NAN para luego poder transformarlos a float, en el dataset del IPC
cols_to_convertipc = ['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023']
DatosIPC[cols_to_convert] = DatosIPC[cols_to_convertipc].apply(pd.to_numeric, errors='coerce')

In [10]:
DatosIPC[cols_to_convertipc] = DatosIPC[cols_to_convertipc].astype(float)
DatosPib.dtypes

"Country Name"       object
"Country Code"       object
"Indicator Name"     object
"Indicator Code"     object
"1960"              float64
                     ...
"2021"              float64
"2022"              float64
"2023"              float64
Unnamed: 68          object
Unnamed: 69         float64
Length: 70, dtype: object

### Agrupación de datos

#### Se procede a agrupar los datos del PIB y el IPC correspondientes a Colombia

In [11]:
# Del dataset de datos del PIB obtengo la fila correspondiente a Colombia
PIBColombia = DatosPib.iloc[45, :]

In [12]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
PIBColombia = pd.DataFrame([PIBColombia])
PIBColombia

,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023""",Unnamed: 68,Unnamed: 69
45,Colombia,COL,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,5.089217,5.41189,3.286708,6.166941,3.600011,...,2.087383,1.359361,2.564324,3.186855,-7.252299,11.016193,7.256563,NaN,NaN,NaN

In [13]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
PIBColombia = PIBColombia.transpose()

In [14]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
PIBColombia = PIBColombia.reset_index()

In [15]:
#Quito las comillas de los datos nuevamente
PIBColombia = PIBColombia.map(remove_quotes)

In [16]:
#Renombro las columnas
PIBColombia.columns = ['Año', 'Crecimiento PIB COL']

In [17]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
PIBColombia = PIBColombia.drop(PIBColombia.index[:4])

In [18]:
PIBColombia

            Año Crecimiento PIB COL
4          1960                 NaN
5          1961            5.089217
6          1962             5.41189
7          1963            3.286708
8          1964            6.166941
..          ...                 ...
65         2021           11.016193
66         2022            7.256563
67         2023                 NaN
68  Unnamed: 68                 NaN
69  Unnamed: 69                 NaN

[66 rows x 2 columns]

In [19]:
#Obtengo los datos del IPC de Colombia
ColombiaIPC = DatosIPC.iloc[45, :]

In [20]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del IPC para Colombia
ColombiaIPC = pd.DataFrame([ColombiaIPC])
ColombiaIPC

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,"""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023"""
45,Colombia,COL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,5.814076,8.28319,4.697094,26.355436,17.072435,7.590684,...,2.898838,4.989831,7.51346,4.314313,3.240569,3.523019,2.526635,3.495058,10.177231,NaN

In [21]:
#Transpongo el dataframe para tener los años y el crecimiento del IPC en su respectica columna
ColombiaIPC = ColombiaIPC.transpose()

In [22]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
ColombiaIPC = ColombiaIPC.reset_index()

In [23]:
#Renombro las columnas
ColombiaIPC.columns = ['Año', 'IPC COL']

In [24]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
ColombiaIPC = ColombiaIPC.drop(ColombiaIPC.index[:4])

In [25]:
ColombiaIPC

        Año    IPC COL
4      1960   5.814076
5      1961    8.28319
6      1962   4.697094
7      1963  26.355436
8      1964  17.072435
..      ...        ...
128  "2019"   3.523019
129  "2020"   2.526635
130  "2021"   3.495058
131  "2022"  10.177231
132  "2023"        NaN

[129 rows x 2 columns]

In [26]:
# Uno los datos del PIB y del IPC para Colombia
ColombiaPIBIPC = pd.merge(PIBColombia, ColombiaIPC, on='Año')
col_to_convert = ['Crecimiento PIB COL', 'IPC COL']
ColombiaPIBIPC[col_to_convert] = ColombiaPIBIPC[col_to_convert].apply(pd.to_numeric, errors='coerce')

In [27]:
#Convierto las columnas del PIB y del IPC a datos tipo float
ColombiaPIBIPC[col_to_convert] = ColombiaPIBIPC[col_to_convert].astype(float)
ColombiaPIBIPC.dtypes

Año                     object
Crecimiento PIB COL    float64
IPC COL                float64
dtype: object

In [28]:
#Convierto las columnas del PIB y del IPC a datos tipo float
ColombiaPIBIPC['Año'] = pd.to_numeric(ColombiaPIBIPC['Año'], errors='coerce').astype('Int64')
ColombiaPIBIPC.dtypes

Año                      Int64
Crecimiento PIB COL    float64
IPC COL                float64
dtype: object

In [29]:
#Elimino los NAN
ColombiaPIBIPC = ColombiaPIBIPC.dropna()
ColombiaPIBIPC

     Año  Crecimiento PIB COL    IPC COL
1   1961             5.089217   8.283190
2   1962             5.411890   4.697094
3   1963             3.286708  26.355436
4   1964             6.166941  17.072435
5   1965             3.600011   7.590684
..   ...                  ...        ...
58  2018             2.564324   3.240569
59  2019             3.186855   3.523019
60  2020            -7.252299   2.526635
61  2021            11.016193   3.495058
62  2022             7.256563  10.177231

[62 rows x 3 columns]

#### Se procede a agrupar los datos del PIB y el IPC correspondientes a México

In [30]:
# Del dataset de datos del PIB obtengo la fila correspondiente a Mexico
PIB_Mexico = DatosPib.iloc[154, :]

In [31]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
PIB_Mexico = pd.DataFrame([PIB_Mexico])
PIB_Mexico

,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023""",Unnamed: 68,Unnamed: 69
154,México,MEX,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,5.0,4.664415,8.106887,11.905481,7.1,...,1.772493,1.871729,1.972082,-0.278149,-8.651587,5.83783,3.898231,NaN,NaN,NaN

In [32]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
PIB_Mexico = PIB_Mexico.transpose()

In [33]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
PIB_Mexico = PIB_Mexico.reset_index()

In [34]:
#Renombro las columnas
PIB_Mexico.columns = ['Año', 'Crecimiento PIB MEX']

In [35]:
#Quito las comillas de los datos nuevamente
PIB_Mexico = PIB_Mexico.map(remove_quotes)

In [36]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
PIB_Mexico = PIB_Mexico.drop(PIB_Mexico.index[:4])

In [37]:
PIB_Mexico

            Año Crecimiento PIB MEX
4          1960                 NaN
5          1961                 5.0
6          1962            4.664415
7          1963            8.106887
8          1964           11.905481
..          ...                 ...
65         2021             5.83783
66         2022            3.898231
67         2023                 NaN
68  Unnamed: 68                 NaN
69  Unnamed: 69                 NaN

[66 rows x 2 columns]

In [38]:
#Obtengo los datos del IPC de Mexico
Mexico_IPC = DatosIPC.iloc[154, :]

In [39]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del IPC para Colombia
Mexico_IPC  = pd.DataFrame([Mexico_IPC ])
Mexico_IPC

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,"""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023"""
154,México,MEX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.927519,1.60876,1.198984,0.594055,2.337903,3.568039,...,4.018616,2.720641,2.821708,6.041457,4.89935,3.635961,3.396834,5.689208,7.896276,NaN

In [40]:
#Transpongo el dataframe para tener los años y el crecimiento del IPC en su respectica columna
Mexico_IPC = Mexico_IPC.transpose()

In [41]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
Mexico_IPC = Mexico_IPC.reset_index()

In [42]:
#Renombro las columnas
Mexico_IPC.columns = ['Año', 'IPC MEX']

In [43]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
Mexico_IPC = Mexico_IPC.drop(Mexico_IPC.index[:4])
Mexico_IPC

        Año   IPC MEX
4      1960  4.927519
5      1961   1.60876
6      1962  1.198984
7      1963  0.594055
8      1964  2.337903
..      ...       ...
128  "2019"  3.635961
129  "2020"  3.396834
130  "2021"  5.689208
131  "2022"  7.896276
132  "2023"       NaN

[129 rows x 2 columns]

In [44]:
# Uno los datos del PIB y del IPC para Mexico
Mexico_PIB_IPC = pd.merge(PIB_Mexico, Mexico_IPC, on='Año')
col_to_convert = ['Crecimiento PIB MEX', 'IPC MEX']
Mexico_PIB_IPC[col_to_convert] = Mexico_PIB_IPC[col_to_convert].apply(pd.to_numeric, errors='coerce')

In [45]:
Mexico_PIB_IPC[col_to_convert] = Mexico_PIB_IPC[col_to_convert].astype(float)
Mexico_PIB_IPC.dtypes

Año                     object
Crecimiento PIB MEX    float64
IPC MEX                float64
dtype: object

In [46]:
Mexico_PIB_IPC['Año'] = pd.to_numeric(Mexico_PIB_IPC['Año'], errors='coerce').astype('Int64')
Mexico_PIB_IPC.dtypes

Año                      Int64
Crecimiento PIB MEX    float64
IPC MEX                float64
dtype: object

In [47]:
#Elimino los NAN
Mexico_PIB_IPC= Mexico_PIB_IPC.dropna()
Mexico_PIB_IPC

     Año  Crecimiento PIB MEX   IPC MEX
1   1961             5.000000  1.608760
2   1962             4.664415  1.198984
3   1963             8.106887  0.594055
4   1964            11.905481  2.337903
5   1965             7.100000  3.568039
..   ...                  ...       ...
58  2018             1.972082  4.899350
59  2019            -0.278149  3.635961
60  2020            -8.651587  3.396834
61  2021             5.837830  5.689208
62  2022             3.898231  7.896276

[62 rows x 3 columns]

In [48]:
#Uno los datos del PIB y el IPC de Mexico y Colombia
Col_Mex_PIB_IPC = pd.merge(ColombiaPIBIPC, Mexico_PIB_IPC, on='Año')

In [49]:
Col_Mex_PIB_IPC

     Año  Crecimiento PIB COL    IPC COL  Crecimiento PIB MEX   IPC MEX
0   1961             5.089217   8.283190             5.000000  1.608760
1   1962             5.411890   4.697094             4.664415  1.198984
2   1963             3.286708  26.355436             8.106887  0.594055
3   1964             6.166941  17.072435            11.905481  2.337903
4   1965             3.600011   7.590684             7.100000  3.568039
..   ...                  ...        ...                  ...       ...
57  2018             2.564324   3.240569             1.972082  4.899350
58  2019             3.186855   3.523019            -0.278149  3.635961
59  2020            -7.252299   2.526635            -8.651587  3.396834
60  2021            11.016193   3.495058             5.837830  5.689208
61  2022             7.256563  10.177231             3.898231  7.896276

[62 rows x 5 columns]

#### Se procede a agrupar los datos del PIB y el IPC correspondientes a Perú

In [50]:
# Del dataset de datos del PIB obtengo la fila correspondiente a Perú
PIB_Peru = DatosPib.iloc[186, :]

In [51]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
PIB_Peru = pd.DataFrame([PIB_Peru])
PIB_Peru

,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023""",Unnamed: 68,Unnamed: 69
186,Perú,PER,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,7.347096,10.035293,4.32825,6.547868,5.621733,...,3.953319,2.518835,3.969351,2.240632,-10.869641,13.41753,2.683871,NaN,NaN,NaN

In [52]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
PIB_Peru = PIB_Peru.transpose()

In [53]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
PIB_Peru = PIB_Peru.reset_index()

In [54]:
#Renombro las columnas
PIB_Peru.columns = ['Año', 'Crecimiento PIB PER']

In [55]:
#Quito las comillas de los datos nuevamente
PIB_Peru = PIB_Peru.map(remove_quotes)

In [56]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
PIB_Peru = PIB_Peru.drop(PIB_Peru.index[:4])

In [57]:
PIB_Peru

            Año Crecimiento PIB PER
4          1960                 NaN
5          1961            7.347096
6          1962           10.035293
7          1963             4.32825
8          1964            6.547868
..          ...                 ...
65         2021            13.41753
66         2022            2.683871
67         2023                 NaN
68  Unnamed: 68                 NaN
69  Unnamed: 69                 NaN

[66 rows x 2 columns]

In [58]:
# Del dataset de datos del IPC obtengo la fila correspondiente a IPC
IPC_Peru = DatosIPC.iloc[186, :]

In [59]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
IPC_Peru = pd.DataFrame([IPC_Peru])
IPC_Peru

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,"""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023"""
186,Perú,PER,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,8.664459,5.916709,6.641093,6.070144,9.792285,16.389961,...,3.411946,3.398092,3.557177,2.9949,1.509154,2.252122,2.002412,4.271664,8.333706,NaN

In [60]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
IPC_Peru = IPC_Peru.transpose()

In [61]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
IPC_Peru = IPC_Peru.reset_index()

In [62]:
#Renombro las columnas
IPC_Peru.columns = ['Año', 'IPC PER']

In [63]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
IPC_Peru = IPC_Peru.drop(IPC_Peru.index[:4])

In [64]:
IPC_Peru

        Año   IPC PER
4      1960  8.664459
5      1961  5.916709
6      1962  6.641093
7      1963  6.070144
8      1964  9.792285
..      ...       ...
128  "2019"  2.252122
129  "2020"  2.002412
130  "2021"  4.271664
131  "2022"  8.333706
132  "2023"       NaN

[129 rows x 2 columns]

In [65]:
# Uno los datos del PIB y del IPC para Peru
Peru_PIB_IPC = pd.merge(PIB_Peru, IPC_Peru, on='Año')
col_to_convert = ['Crecimiento PIB PER', 'IPC PER']
Peru_PIB_IPC[col_to_convert] = Peru_PIB_IPC[col_to_convert].apply(pd.to_numeric, errors='coerce')

In [66]:
Peru_PIB_IPC[col_to_convert] = Peru_PIB_IPC[col_to_convert].astype(float)
Peru_PIB_IPC.dtypes

Año                     object
Crecimiento PIB PER    float64
IPC PER                float64
dtype: object

In [67]:
Peru_PIB_IPC['Año'] = pd.to_numeric(Peru_PIB_IPC['Año'], errors='coerce').astype('Int64')
Peru_PIB_IPC.dtypes

Año                      Int64
Crecimiento PIB PER    float64
IPC PER                float64
dtype: object

In [68]:
#Elimino los NAN
Peru_PIB_IPC= Peru_PIB_IPC.dropna()
Peru_PIB_IPC

     Año  Crecimiento PIB PER    IPC PER
1   1961             7.347096   5.916709
2   1962            10.035293   6.641093
3   1963             4.328250   6.070144
4   1964             6.547868   9.792285
5   1965             5.621733  16.389961
..   ...                  ...        ...
58  2018             3.969351   1.509154
59  2019             2.240632   2.252122
60  2020           -10.869641   2.002412
61  2021            13.417530   4.271664
62  2022             2.683871   8.333706

[62 rows x 3 columns]

In [69]:
#Uno los datos del PIB y el IPC de Mexico, Colombia Y Perú
Col_Mex_Per_PIB_IPC = pd.merge(Peru_PIB_IPC, Col_Mex_PIB_IPC , on='Año')

In [70]:
Col_Mex_Per_PIB_IPC

,Año,Crecimiento PIB PER,IPC PER,Crecimiento PIB COL,IPC COL,Crecimiento PIB MEX,IPC MEX
0,1961,7.347096,5.916709,5.089217,8.283190,5.000000,1.608760
1,1962,10.035293,6.641093,5.411890,4.697094,4.664415,1.198984
2,1963,4.328250,6.070144,3.286708,26.355436,8.106887,0.594055
3,1964,6.547868,9.792285,6.166941,17.072435,11.905481,2.337903
4,1965,5.621733,16.389961,3.600011,7.590684,7.100000,3.568039
...,...,...,...,...,...,...,...
57,2018,3.969351,1.509154,2.564324,3.240569,1.972082,4.899350
58,2019,2.240632,2.252122,3.186855,3.523019,-0.278149,3.635961
59,2020,-10.869641,2.002412,-7.252299,2.526635,-8.651587,3.396834
60,2021,13.417530,4.271664,11.016193,3.495058,5.837830,5.689208
61,2022,2.683871,8.333706,7.256563,10.177231,3.898231,7.896276

### Se procede a agrupar los datos del PIB y el IPC correspondientes a Chile

In [71]:
# Del dataset de datos del PIB obtengo la fila correspondiente a Chile
PIB_Chile = DatosPib.iloc[39, :]

In [72]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
PIB_Chile= pd.DataFrame([PIB_Chile])
PIB_Chile

,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023""",Unnamed: 68,Unnamed: 69
39,Chile,CHL,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,5.245272,4.026686,5.84014,2.557221,0.950273,...,1.753039,1.357695,3.990029,0.74313,-6.145247,11.737431,2.440403,NaN,NaN,NaN

In [73]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
PIB_Chile = PIB_Chile.transpose()

In [74]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
PIB_Chile = PIB_Chile.reset_index()

In [75]:
#Renombro las columnas
PIB_Chile.columns = ['Año', 'Crecimiento PIB CHL']

In [76]:
#Quito las comillas de los datos nuevamente
PIB_Chile = PIB_Chile.map(remove_quotes)

In [77]:
#Quito los primeros 4 datos ya que no son necesarios para el gráfico
PIB_Chile = PIB_Chile.drop(PIB_Mexico.index[:4])

In [78]:
PIB_Chile

               Año            Crecimiento PIB CHL
0     Country Name                          Chile
1     Country Code                            CHL
2   Indicator Name  Crecimiento del PIB (% anual)
3   Indicator Code              NY.GDP.MKTP.KD.ZG
8             1964                       2.557221
..             ...                            ...
65            2021                      11.737431
66            2022                       2.440403
67            2023                            NaN
68     Unnamed: 68                            NaN
69     Unnamed: 69                            NaN

[66 rows x 2 columns]

In [79]:
# Del dataset de datos de IPC obtengo la fila correspondiente a Chile
IPC_Chile = DatosIPC.iloc[39, :]

In [80]:
# Convertir la Serie en una lista y luego crear DataFrame con la fila de los datos del PIB para Colombia
IPC_Chile = pd.DataFrame([IPC_Chile])
IPC_Chile

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,"""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""","""2023"""
39,Chile,CHL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.718675,4.348774,3.786194,2.182718,2.43489,2.557545,3.045491,4.524568,11.643867,NaN

In [81]:
#Transpongo el dataframe para tener los años y el crecimiento del PIB en una sola columna
IPC_Chile = IPC_Chile.transpose()

In [82]:
# Reseteo el indice pero para que los datos del indice pasen a otra columna
IPC_Chile = IPC_Chile.reset_index()

In [83]:
#Renombro las columnas
IPC_Chile.columns = ['Año', 'IPC CHL']

In [84]:
IPC_Chile = IPC_Chile.drop(PIB_Mexico.index[:4])

In [85]:
IPC_Chile

                Año                                     IPC CHL
0      Country Name                                       Chile
1      Country Code                                         CHL
2    Indicator Name  Inflación, precios al consumidor (% anual)
3    Indicator Code                              FP.CPI.TOTL.ZG
8              1964                                         NaN
..              ...                                         ...
128          "2019"                                    2.557545
129          "2020"                                    3.045491
130          "2021"                                    4.524568
131          "2022"                                   11.643867
132          "2023"                                         NaN

[129 rows x 2 columns]

In [86]:
# Uno los datos del PIB y del IPC para Chile
Chile_PIB_IPC = pd.merge(PIB_Chile, IPC_Chile, on='Año')
col_to_convert = ['Crecimiento PIB CHL', 'IPC CHL']
Chile_PIB_IPC[col_to_convert] = Chile_PIB_IPC[col_to_convert].apply(pd.to_numeric, errors='coerce')

In [87]:
Chile_PIB_IPC[col_to_convert] = Chile_PIB_IPC[col_to_convert].astype(float)
Chile_PIB_IPC.dtypes

Año                     object
Crecimiento PIB CHL    float64
IPC CHL                float64
dtype: object

In [88]:
Chile_PIB_IPC['Año'] = pd.to_numeric(Chile_PIB_IPC['Año'], errors='coerce').astype('Int64')
Chile_PIB_IPC.dtypes

Año                      Int64
Crecimiento PIB CHL    float64
IPC CHL                float64
dtype: object

In [89]:
#Elimino los NAN
Chile_PIB_IPC= Chile_PIB_IPC.dropna()
Chile_PIB_IPC

     Año  Crecimiento PIB CHL     IPC CHL
11  1971             9.422686   20.052231
12  1972            -1.019948   77.795740
13  1973            -5.029248  352.810987
14  1974             2.382149  504.738541
15  1975           -12.912101  374.735274
16  1976             3.832584  211.924302
17  1977            10.444686   91.954133
18  1978             7.701104   40.087225
19  1979             8.418305   33.389219
20  1980             7.986621   35.138341
21  1981             6.525370   19.686833
22  1982           -11.014305    9.941027
23  1983            -5.017421   27.257195
24  1984             4.103683   19.860206
25  1985             4.009916   30.703499
26  1986             5.377692   19.476838
27  1987             6.460469   19.880846
28  1988             7.345110   14.684351
29  1989             9.923383   17.027937
30  1990             3.333565   26.036481
31  1991             7.804392   21.784412
32  1992            11.166708   15.425806
33  1993             6.588784   12.727767
34  1994             5.030198   11.443120
35  1995             8.933296    8.232630
36  1996             6.802917    7.359118
37  1997             7.391739    6.133865
38  1998             4.180887    5.110250
39  1999            -0.273631    3.336879
40  2000             4.971621    3.843273
41  2001             3.154035    3.569101
42  2002             3.202799    2.489398
43  2003             4.723245    2.810179
44  2004             6.674254    1.054739
45  2005             5.837046    3.052576
46  2006             6.049991    3.392017
47  2007             5.168231    4.407799
48  2008             3.789393    8.716269
49  2009            -1.118037    0.353045
50  2010             5.851651    1.410711
51  2011             6.223897    3.341217
52  2012             6.155340    3.007448
53  2013             3.308508    1.789556
54  2014             1.792649    4.718675
55  2015             2.151942    4.348774
56  2016             1.753039    3.786194
57  2017             1.357695    2.182718
58  2018             3.990029    2.434890
59  2019             0.743130    2.557545
60  2020            -6.145247    3.045491
61  2021            11.737431    4.524568
62  2022             2.440403   11.643867

In [90]:
#Uno los datos del PIB y el IPC para los países de la alianza del Pacífico
Alianza_pacifico_PIB_IPC = pd.merge(Col_Mex_Per_PIB_IPC, Chile_PIB_IPC , on='Año')

In [91]:
Alianza_pacifico_PIB_IPC

,Año,Crecimiento PIB PER,IPC PER,Crecimiento PIB COL,IPC COL,Crecimiento PIB MEX,IPC MEX,Crecimiento PIB CHL,IPC CHL
0,1971,4.590540,6.790639,5.960728,11.940262,3.762468,5.469029,9.422686,20.052231
1,1972,3.477535,7.219722,7.669148,12.444459,8.228807,4.943692,-1.019948,77.795740
2,1973,6.276935,9.489051,6.722955,22.529649,7.861120,12.081939,-5.029248,352.810987
3,1974,9.386835,16.891667,5.745757,23.870957,5.776827,23.784015,2.382149,504.738541
4,1975,4.300863,23.618735,2.323255,23.437503,5.744485,14.944535,-12.912101,374.735274
5,1976,1.447111,33.483276,4.728369,19.831225,4.417444,15.824722,3.832584,211.924302
6,1977,0.349064,38.054091,4.158505,33.802818,3.390640,29.064125,10.444686,91.954133
7,1978,-2.642503,57.848783,8.469901,17.763159,8.956942,17.457293,7.701104,40.087225
8,1979,4.090751,66.694423,5.379119,24.134076,9.698170,18.191246,8.418305,33.389219
9,1980,5.943335,59.145071,4.087354,26.552653,8.756622,26.351651,7.986621,35.138341
10,1981,5.552042,75.433269,2.276873,27.453762,9.585841,27.933763,6.525370,19.686833
11,1982,-0.222723,64.448159,0.948421,24.720988,-0.049586,58.913420,-11.014305,9.941027
12,1983,-10.408086,111.150635,1.573956,19.597317,-4.624128,101.874938,-5.017421,27.257195
13,1984,3.608287,110.208520,3.350684,16.161617,3.513413,65.448807,4.103683,19.860206
14,1985,2.061132,163.399505,3.107106,24.090174,1.919216,57.748448,4.009916,30.703499
15,1986,9.425962,77.921026,5.824076,18.842463,-3.929960,86.233317,5.377692,19.476838
16,1987,9.726146,85.822306,5.368932,23.302028,2.063363,131.827384,6.460469,19.880846
17,1988,-9.441273,667.019329,4.064173,28.108397,1.218261,114.162259,7.345110,14.684351
18,1989,-12.312041,3398.679010,3.414096,25.867548,3.625449,20.007877,9.923383,17.027937
19,1990,-4.982564,7481.663611,4.281998,29.152025,5.250043,26.651673,3.333565,26.036481
20,1991,2.219259,409.530167,2.001608,30.387820,3.975905,22.662359,7.804392,21.784412
21,1992,-0.540509,73.528294,4.044929,27.010627,3.568614,15.507896,11.166708,15.425806
22,1993,5.243577,48.579986,5.385410,22.442483,2.866999,9.751460,6.588784,12.727767
23,1994,12.308366,23.736905,5.814662,22.846242,4.394128,6.965812,5.030198,11.443120
24,1995,7.411395,11.128703,5.202438,20.891793,-5.910300,34.999271,8.933296,8.232630
25,1996,2.798973,11.537942,2.055855,20.797576,6.218297,34.378383,6.802917,7.359118
26,1997,6.476824,8.562189,3.430294,18.470022,7.198876,20.625629,7.391739,6.133865
27,1998,-0.391538,7.247822,0.569784,18.676980,6.185079,15.928395,4.180887,5.110250
28,1999,1.494911,3.469660,-4.204015,10.873687,2.755030,16.585617,-0.273631,3.336879
29,2000,2.694371,3.757338,2.924861,9.225348,5.029284,9.491561,4.971621,3.843273
30,2001,0.617892,1.977099,1.677898,7.965561,-0.450845,6.367738,3.154035,3.569101
31,2002,5.453529,0.193135,2.503980,6.351507,-0.236588,5.030727,3.202799,2.489398
32,2003,4.165023,2.259378,3.918272,7.129789,1.185545,4.546900,4.723245,2.810179
33,2004,4.958203,3.662473,5.333022,5.904020,3.565441,4.688409,6.674254,1.054739
34,2005,6.285060,1.616302,4.828761,5.051020,2.113247,3.988057,5.837046,3.052576
35,2006,7.528899,2.002258,6.716869,4.293424,4.805014,3.629468,6.049991,3.392017
36,2007,8.518388,1.779986,6.738195,5.544385,2.077864,3.966849,5.168231,4.407799
37,2008,9.126568,5.785876,3.283446,6.996885,0.943332,5.124983,3.789393,8.716269
38,2009,1.095824,2.936232,1.139649,4.202517,-6.295251,5.297356,-1.118037,0.353045
39,2010,8.332459,1.528321,4.494659,2.272002,4.971335,4.156727,5.851651,1.410711
40,2011,6.327192,3.369311,6.947892,3.415033,3.444045,3.407378,6.223897,3.341217
41,2012,6.139725,3.611213,3.912636,3.169302,3.553211,4.111510,6.155340,3.007448
42,2013,5.852518,2.767897,5.133994,2.016992,0.852102,3.806391,3.308508,1.789556
43,2014,2.382157,3.411946,4.499030,2.898838,2.503764,4.018616,1.792649,4.718675
44,2015,3.252245,3.398092,2.955901,4.989831,2.702323,2.720641,2.151942,4.348774
45,2016,3.953319,3.557177,2.087383,7.513460,1.772493,2.821708,1.753039,3.786194
46,2017,2.518835,2.994900,1.359361,4.314313,1.871729,6.041457,1.357695,2.182718
47,2018,3.969351,1.509154,2.564324,3.240569,1.972082,4.899350,3.990029,2.434890
48,2019,2.240632,2.252122,3.186855,3.523019,-0.278149,3.635961,0.743130,2.557545
49,2020,-10.869641,2.002412,-7.252299,2.526635,-8.651587,3.396834,-6.145247,3.045491
50,2021,13.417530,4.271664,11.016193,3.495058,5.837830,5.689208,11.737431,4.524568
51,2022,2.683871,8.333706,7.256563,10.177231,3.898231,7.896276,2.440403,11.643867

In [92]:
#Exporto los datos a un CSV
Alianza_pacifico_PIB_IPC.to_csv('AP_PIB_IPC.csv', index=False)